* {
    margin: 0;
    padding: 0;
}
ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    overflow: auto;
    width: 30%;
    height: 100%;
    background: black;
}
li a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
    text-align: justify;
}
li a:hover {
    background-color: aqua;
}
div {
    position:absolute;
    margin-left: 30%;
    position: fixed;
    overflow-y: scroll;
    font-size: 40px;
    text-align: center;
    height: 100%;
    max-width: 950px;
}
